<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body" color="medium">
  <ion-row class="container-perfil">
    <ion-img class="imgPerfil" src="{{img}}"></ion-img>
    <ion-col size="12">
      <p class="info-perfil">{{name}}</p>
      <p class="info-perfil info-perfil-last">{{email}}</p>
    </ion-col>
  </ion-row>

  <div class="container-txtoptions">

    <p>Opções</p>
    <div class="underline"></div>
  </div>

  <ion-row class="container-options">
    <ion-col size="12">
      <ion-tab-button tab="alterar-dados">
        <ion-button style="width: 100%" color="secondary" expand="block">
          Meus dados
        </ion-button>
      </ion-tab-button>
    </ion-col>

    <ion-col size="12">
      <ion-tab-button tab="alterar-senha">
        <ion-button style="width: 100%" color="secondary" expand="block">
          Alterar senha
        </ion-button>
      </ion-tab-button>
    </ion-col>

<!--     <ion-col size="12">
      <ion-tab-button tab="matricula-usuario">
        <ion-button style="width: 100%" color="secondary" expand="block">
          Matrícula
        </ion-button>
      </ion-tab-button>
    </ion-col> -->

    <ion-col size="12">
      <ion-tab-button>
        <ion-button style="width: 100%;" (click)="logout()" expand="block"
        color="secondary">
          Sair
        </ion-button>
      </ion-tab-button>
    </ion-col>

  </ion-row>

  <div class="container-txtoptions">

    <p>Matriculas</p>
    <div class="underline"></div>
  </div>

  <section *ngIf="numMatriculas > 0; else falseCondition">
    <div class="matriculas" *ngFor="let data of dadosMatricula">
      <a style="width: 100%" href="/tabs/pg/matricula/{{data.idMatriculado}}">
        <ion-row class="container-matricula">
          <ion-col size="12">
            <ion-img src="{{this.servidorUrl.pegarUrl() + data.imgCurso}}"></ion-img>
            <p>{{data.curso}} - {{data.statusMatriculado}}</p>
          </ion-col>
        </ion-row>
      </a>
    </div>
  </section>
  <ng-template #falseCondition>
    <div class="no-matricula">
      <p>Você não possui nenhuma matricula</p>
    </div>
  </ng-template>

</ion-content>
