<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Blog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" class="body">
  <div class="artigo" *ngFor="let artigo of artigos">
    <a style="width: 100%; text-decoration: none;" href="tabs/pg/detalhe-blog/{{artigo.idArtigo}}">
      <ion-row>
        <ion-col size="4">
          <ion-thumbnail>
            <ion-img src="{{this.servidorUrl.pegarUrl() + artigo.imgCapa}}"></ion-img>
          </ion-thumbnail>

        </ion-col>
        <ion-col size="8">
          <div><h3 style="font-size: 1.2em; color: black; font-weight: bold">{{artigo.tituloArtigo}}</h3></div>
          <p>{{artigo.artigo | slice:0:100 }}...</p>
        </ion-col>
      </ion-row>
    </a>
  </div>


</ion-content>
