.imgArtigo{
    width: 100%;
    ion-col{
        padding: 0 !important;
        width: 100%;
        ion-img{
            height: 300px;
            width: 100%;
            object-fit: cover;
        }
    }
}

.titledescricao{
  padding: 2%;
  p{
      font-weight: bold;
      font-size: 1.1rem;
  }
  .underline{
      width: 50%;
      height: 2px;
      background-color: #000;
  }
}

.containerDetalheArtigo{
    min-height: 600px;
    .contentArtigo{
        min-height: 600px;

        margin-top: 5%;
        background-color: #fff;
        padding: 0 6%;
        font-size: 1.4em;
        h3{
            font-weight: 600;
        }
    }
}
