<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body" color="medium">
  <ion-img class="imgSobre" src="../../../assets/logo/logo-dabar-verde.svg"></ion-img>

  <ion-row class="txtSobre">
    <ion-col size="12">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim nemo itaque saepe corporis, voluptas eum, dignissimos illum repellat eaque delectus accusamus alias nobis sed beatae! Dolore voluptatem minus dicta debitis?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim nemo itaque saepe corporis, voluptas eum, dignissimos illum repellat eaque delectus accusamus alias nobis sed beatae! Dolore voluptatem minus dicta debitis?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim nemo itaque saepe corporis, voluptas eum, dignissimos illum repellat eaque delectus accusamus alias nobis sed beatae! Dolore voluptatem minus dicta debitis?</p>
    </ion-col>
  </ion-row>
</ion-content>
